---
apiVersion: admissionregistration.k8s.io/v1
kind: MutatingWebhookConfiguration
metadata:
  name: mutating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /mutate-vm-novasphere-dev-v1alpha1-wukong
  failurePolicy: Fail
  name: mwukong.kb.io
  rules:
  - apiGroups:
    - vm.novasphere.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - wukongs
  sideEffects: None
---
apiVersion: admissionregistration.k8s.io/v1
kind: ValidatingWebhookConfiguration
metadata:
  name: validating-webhook-configuration
webhooks:
- admissionReviewVersions:
  - v1
  clientConfig:
    service:
      name: webhook-service
      namespace: system
      path: /validate-vm-novasphere-dev-v1alpha1-wukong
  failurePolicy: Fail
  name: vwukong.kb.io
  rules:
  - apiGroups:
    - vm.novasphere.dev
    apiVersions:
    - v1alpha1
    operations:
    - CREATE
    - UPDATE
    resources:
    - wukongs
  sideEffects: None
