---
apiVersion: v1
kind: Service
metadata:
  name: webhook-service
  namespace: system
  labels:
    control-plane: controller-manager
    app.kubernetes.io/name: novasphere
    app.kubernetes.io/managed-by: kustomize
spec:
  type: ClusterIP
  ports:
  - port: 443
    targetPort: 9443
    protocol: TCP
    name: webhook-server
  selector:
    control-plane: controller-manager
    app.kubernetes.io/name: novasphere

